/* Show results as cards for small devices, up to ~23 EMs*/
@media (max-width: 23.125em) {
    .result-div {
        border-radius: 3px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.open-div:hover {
    text-decoration: underline;
}

.open-div {
    font-family: 'Verdana, Geneva, sans-serif';
}